In [33]:
import numpy as np
import pandas as pd

In [34]:
error=pd.read_csv('C:\\Users\\Yangq\\OneDrive\\Desktop\\11711-HW3\\errorAnalysis.csv')

In [35]:
error['reviewlength']=error['testReview'].str.len()

In [36]:
error["oversize"]=error['reviewlength']>512

In [37]:
error

,ifCorrect,groudTruth,pred,testReview,reviewlength,oversize
0,True,0,0,I just purchased this software with a Garmin e...,487,False
1,True,0,0,For those of you considering buying Money 2002...,1837,True
2,True,0,0,This program is really amazing. I've tried a l...,1290,True
3,True,0,0,I enjoy the study notes that accompany the\nSc...,116,False
4,True,0,0,I work with autistic children and thus far thi...,242,False
...,...,...,...,...,...,...
8443,True,1,1,"I'm no expert with taxes, and after using Turb...",907,True
8444,False,1,0,Danger on Deception Island was very fun. I lik...,639,True
8445,True,0,0,My girlfriend and I used this software to plan...,383,False
8446,True,1,1,"To be fair - I probably don't use this the ""no...",511,False
8447,False,1,0,"I bought Roxio Easy Media Creator 8.0, and bel...",759,True

In [38]:
cor_df=error[['ifCorrect','groudTruth','pred','reviewlength','oversize']]

In [39]:
cor_df.corr()

              ifCorrect  groudTruth      pred  reviewlength  oversize
ifCorrect      1.000000    0.012065  0.168547     -0.011026  0.007097
groudTruth     0.012065    1.000000  0.690515      0.060769  0.066601
pred           0.168547    0.690515  1.000000      0.035092  0.058137
reviewlength  -0.011026    0.060769  0.035092      1.000000  0.628585
oversize       0.007097    0.066601  0.058137      0.628585  1.000000

In [40]:
df_agg=cor_df.groupby(['oversize','groudTruth']).mean()

In [41]:
df_agg

                     ifCorrect      pred  reviewlength
oversize groudTruth
False    0            0.850027  0.149973    228.131762
         1            0.848306  0.848306    268.879971
True     0            0.839879  0.160121   1195.503776
         1            0.861472  0.861472   1210.918930

In [42]:
cor_df.groupby(['oversize','groudTruth']).count()

                     ifCorrect  pred  reviewlength
oversize groudTruth
False    0                1867  1867          1867
         1                2716  2716          2716
True     0                1324  1324          1324
         1                2541  2541          2541

In [48]:
df_oversize_neg=error[(error['oversize']==1) & (error['groudTruth']==0)]['ifCorrect']
df_oversize_pos=error[(error['oversize']==1) & (error['groudTruth']==1)]['ifCorrect']
df_norsize_neg=error[(error['oversize']==0) & (error['groudTruth']==0)]['ifCorrect']
df_norsize_pos=error[(error['oversize']==0) & (error['groudTruth']==1)]['ifCorrect']

In [49]:
from statsmodels.stats.weightstats import ztest as ztest
ztest(df_oversize_neg, df_norsize_neg, value=0)

(-0.781925785197804, 0.43425819025487666)

In [50]:
ztest(df_oversize_pos, df_norsize_pos, value=0)

(1.3534825907314925, 0.1759015080548355)